h1, h2{
  color:black;
  text-align: center;
  padding: 2%;
}
#column{
  padding-bottom: 5px;
}
#title{
  background-color: yellow;
}
.card{
  padding: 5%;
  border-style: solid;
  border-color: black;
  width: 18rem;
}
.btn:hover{
  background-color: darkblue;
  width: 101%;
}

.btn:focus{
  background-color: red;
}
