$color: black;
%root{
  color: $color;
}

#title{
  background-image: linear-gradient(90deg, green 33%, white 33%, white 66.66%, red 66.66%);
}
.parlare::before{
  @extend %root;
  content: "parl";
}
.prendere::before{
  @extend %root;
  content: "prend";
}
.partire::before{
  @extend %root;
  content: "part";
}
.amare::before{
  @extend %root;
  content: "am";
}
.leggere::before{
  @extend %root;
  content: "legg";
}
.sentire::before{
  @extend %root;
  content: "sent";
}
