$color: black;
%root{
  color: $color;
}

#title{
  background-image: linear-gradient(90deg, black 33%, red 33%, red 66.66%, yellow 66.66%);
}
@media(min-width:1000px){
  .word-bank{
    display: table;
    margin: 0 auto;
  }
  #title{
    color: black;
  }
  .col-sm-6{
    padding-bottom: 40px;
  }
}
@media(max-width:999px){
  .word-bank{
    margin-left: 8rem;
  }
  #title{
    color: white;
  }
}
div[id="table-defined-articles"]{
  .masculino::before{
    content: "der ";
    color: #230F89;
  }
  .neutro::before{
    content: "das ";
    color: #14800B;
  }
  .femenino::before{
    content: "die ";
    color: #DF00FE;
  }
}

.leben::before{
  @extend %root;
  content: "leb";
}
.schreiben::before{
  @extend %root;
  content: "schreib";
}
.kommen::before{
  @extend %root;
  content: "komm";
}
