h1, h2, h3{
  text-align: center;
  padding: 2%;
  font-family: "Bahnschrift SemiBold","Impact";
}
ol{
  padding-top: 10px;
  padding-bottom: 10px;
  display: table;
  margin: 0 auto;
}
.col-lg-6{
  padding-bottom: 40px;
}

table tr,td,th{
  border:2px solid black;
  padding: 5px;
}
th{
  background-color: lightgray;
  padding-left: 10px;
  padding-right: 10px;
}
td{
  padding-left: 10px;
  padding-right: 10px;
  color:red;
}
tr:hover{
  background-color: yellow;
}
table{
  margin: 0 auto;
}
#home-page-title{
  background-color: yellow;
}
.card{
  padding: 5%;
  border-style: solid;
  border-color: black;
  width: 18rem;
}
.btn:hover{
  background-color: darkblue;
  width: 7rem;
}
.btn:focus{
  background-color: red;
}
