#title{
  background-image: linear-gradient(90deg, green 33%, white 33%, white 66.66%, red 66.66%);
}
.parlare::before{
  content: "parl";
  color: black;
}
.prendere::before{
  content: "prend";
  color: black;
}
.partire::before{
  content: "part";
  color: black;
}
.amare::before{
  content: "am";
  color: black;
}
.leggere::before{
  content: "legg";
  color: black;
}
.sentire::before{
  content: "sent";
  color: black;
}
